<!DOCTYPE html>
<html>
<head>
  <title>CljsEm</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src=<%= asset_path('target/main.js') %> ></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="token" value="<%= form_authenticity_token %>"></div>
<%= yield %>

</body>
</html>
